<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" th:href="@{/css/steps.css}">
</head>
<body>
    <div class="steps">

        <div class="step-line step-completed"></div>

        <div class="step step-completed">
            <div class="step-text">1</div>
            <div class="step-main">1.创建案件</div>
        </div>

        <div class="step-line step-completed"></div>
        <div class="step-line step-completed"></div>
        

        <div class="step step-completed">
            <div class="step-text">2</div>
            <div class="step-main">2.调查请求</div>
        </div>

        <div class="step-line step-completed"></div>
        <div class="step-line "> </div>
        <div class="step ">
            <div class="step-text">3</div>
            <div class="step-main">3.数据请求</div>
        </div>
        <div class="step-line "></div>
        <div class="step-line"> </div>
        <div class="step">
            <div class="step-text">4</div>
            <div class="step-main">4.数据检索</div>
        </div>
        <div class="step-line "></div>
        <div class="step-line"> </div>
        <div class="step">
            <div class="step-text">5</div>
            <div class="step-main">5.数据分析</div>
        </div>
        <div class="step-line "></div>
        <div class="step-line"></div>
        <div class="step">
            <div class="step-text">6</div>
            <div class="step-main">6.提交报告</div>
        </div>
        <div class="step-line"></div>
        <div class="step-line "></div>
        <div class="step">
            <div class="step-text">7</div>
            <div class="step-main">7.调查结束</div>
        </div>
        <div class="step-line"></div>
    </div>
</body>
</html>